<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" moduleJsonSerializerType="None" preferredUiJsonSerializerType="Net" viewEngine="Razor" authorizationPolicy="episerver:com:orders">
	<assemblies>
		<add assembly="EPiServer.Commerce.UI.CustomerService.Extensions" />
	</assemblies>
</module>